div:after {
    content: "";
    clear: both;
    display: block;
}

li {
    font-family: "Myriad Pro";
    margin-bottom: 10px;
}

ul {
    float: left;
    list-style: none;
    width: 15%;
    border-right: solid 1px #1f2c39;
    padding-left: 0;
    padding-top: 11px;
}
ul:first-of-type li:first-of-type{
    border-radius: 30px 0 0 30px;
}
ul:nth-child(2) {
    border-color: #03246c;
}
ul:nth-child(3) {
    border-color: #028090;
}
ul:nth-child(4) {
    border-color: #28aeaf;
}

ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #1f2c39;
    padding: 10px 24px;
}

ul li:first-of-type {
    background-color: #1f2c39;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 25px;
}
ul:nth-child(2) li:first-of-type {
    background-color: #03246c;
}
ul:nth-child(3) li:first-of-type {
    background-color: #028090;
}
ul:nth-child(4) li:first-of-type {
    background-color: #28aeaf;
}

ul:nth-child(2) li a {
    color: #03246c;
}
ul:nth-child(3) li a {
    color: darkcyan;
}
ul:nth-child(4) li a {
    color: #028090;
}
ul li:first-of-type a {
    color: white;
}

/*ul li:first-of-type {*/
/*    background-color: black;*/
/*    text-align: center;*/
/*}*/

